body {
    margin: 0 auto;
    background-color: blueviolet;
    width: 85%;
}

header {
    width: 100%;
    background-color: lightcoral;
    height: 50px;
}

main {
    width: 50%;
    background-color: aqua;
    height: 100%;
    margin: auto
}